.fa {
  font-size: 1rem;
  color: black;
  padding: .5rem; }

.fa:hover {
  cursor: pointer;
  color: gray; }

.port-item:hover,
.port-item:hover .fa {
  cursor: pointer;
  color: gray; }

.icons-social {
  display: flex;
  justify-content: flex-end; }

.wrap-nav {
  display: flex;
  flex-wrap: wrap; }

.nav {
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  text-align: center; }

header {
  margin-bottom: .5rem; }

footer {
  margin-top: 1rem;
  border-radius: 3px; }

.card-header,
.card-footer {
  padding: .3rem;
  margin-bottom: 0; }

li {
  padding-left: 0rem; }

@media (min-width: 1199px) {
  .icons-social {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0; } }

@media (max-width: 768px) {
  .logo {
    font-size: 1rem; }
  .fa {
    font-size: 1rem;
    color: black;
    padding: .5rem; } }

@media only screen and (orientation: landscape) and (max-height: 736px) {
  .container {
    max-width: 100%; }
  .icons-social {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0; }
  .wrap-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 0; }
  .logo {
    text-align: left; }
  .nav {
    display: flex;
    margin-left: 0;
    text-align: center; } }

@media only screen and (max-width: 568px) {
  .container {
    max-width: 100%; }
  .icons-social {
    display: flex;
    justify-content: center;
    margin: 1rem 0; }
  .wrap-nav {
    display: flex;
    justify-content: center;
    margin-left: 0; }
  .logo {
    text-align: center; }
  .nav {
    display: flex;
    margin-left: 0;
    text-align: center;
    font-size: .8rem; } }

.copy {
  text-align: center;
  margin: 0 auto;
  opacity: .7; }
